@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "crearReservaServicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizar Reserva</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.3/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_green.css">

    <style>
        .lista {
            padding: 0;
        }

        .gestion {
            margin: 0;
            padding: 0;
        }

        .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100px;
            background-color: rgb(207, 207, 207);
        }

        .linea-horizontal {
            width: 7%;
            height: 2px;
            background-color: #000;
            margin-right: 10px;
            margin-left: 10px;
        }

        .icon-container {
            width: 70px;
            height: 70px;
            background-color: #ccc;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-width: 4px;
            border-style: solid;
            border-color: #000;
        }

        .icon-container svg {
            width: 70%;
            height: auto;
        }

        .btn-light {
            border: 1px solid black;
            font-size: 20px;
            width: 
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
        }

        .btn-light {
            width: 180px;
            height: 70px;
        }

    </style>

    <style>
        .lista {
            padding: 0;
        }

        .gestion {
            margin: 0;
            padding: 0;
        }
    </style>

</head>

<body style="background-color: rgb(207, 207, 207);">
    <div style="margin-top: 25px;padding: 5px ;margin-left:300px; width:80%;">
        <h1 class="ml-3 mb-3" style="color:#255000;">Realizar Reserva</h1>
        <div class="container">
            <div class="icons mt-5">
                <div id="iconServicio" class="icon-container" style="background-color: rgb(23, 162, 184)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M3 2.75A2.75 2.75 0 0 1 5.75 0h14.5a.75.75 0 0 1 .75.75v20.5a.75.75 0 0 1-.75.75h-6a.75.75 0 0 1 0-1.5h5.25v-4H6A1.5 1.5 0 0 0 4.5 18v.75c0 .716.43 1.334 1.05 1.605a.75.75 0 0 1-.6 1.374A3.251 3.251 0 0 1 3 18.75ZM19.5 1.5H5.75c-.69 0-1.25.56-1.25 1.25v12.651A2.989 2.989 0 0 1 6 15h13.5Z"></path>
                        <path d="M7 18.25a.25.25 0 0 1 .25-.25h5a.25.25 0 0 1 .25.25v5.01a.25.25 0 0 1-.397.201l-2.206-1.604a.25.25 0 0 0-.294 0L7.397 23.46a.25.25 0 0 1-.397-.2v-5.01Z"></path>
                    </svg>
                </div>
                <div class="linea-horizontal"></div>

                <div id="iconEmpleado" class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M12 2.5a5.5 5.5 0 0 1 3.096 10.047 9.005 9.005 0 0 1 5.9 8.181.75.75 0 1 1-1.499.044 7.5 7.5 0 0 0-14.993 0 .75.75 0 0 1-1.5-.045 9.005 9.005 0 0 1 5.9-8.18A5.5 5.5 0 0 1 12 2.5ZM8 8a4 4 0 1 0 8 0 4 4 0 0 0-8 0Z"></path>
                    </svg>
                </div>
                <div class="linea-horizontal"></div>

                <div id="iconFecha" class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M6.75 0a.75.75 0 0 1 .75.75V3h9V.75a.75.75 0 0 1 1.5 0V3h2.75c.966 0 1.75.784 1.75 1.75v16a1.75 1.75 0 0 1-1.75 1.75H3.25a1.75 1.75 0 0 1-1.75-1.75v-16C1.5 3.784 2.284 3 3.25 3H6V.75A.75.75 0 0 1 6.75 0ZM21 9.5H3v11.25c0 .138.112.25.25.25h17.5a.25.25 0 0 0 .25-.25Zm-17.75-5a.25.25 0 0 0-.25.25V8h18V4.75a.25.25 0 0 0-.25-.25Z"></path>
                    </svg>
                </div>
                <div class="linea-horizontal"></div>

                <div id="iconHora" class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M12.5 7.25a.75.75 0 0 0-1.5 0v5.5c0 .27.144.518.378.651l3.5 2a.75.75 0 0 0 .744-1.302L12.5 12.315V7.25Z"></path>
                        <path d="M12 1c6.075 0 11 4.925 11 11s-4.925 11-11 11S1 18.075 1 12 5.925 1 12 1ZM2.5 12a9.5 9.5 0 0 0 9.5 9.5 9.5 9.5 0 0 0 9.5-9.5A9.5 9.5 0 0 0 12 2.5 9.5 9.5 0 0 0 2.5 12Z"></path>
                    </svg>
                </div>
                <div class="linea-horizontal"></div>

                <div id="iconDatos" class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M3.5 3.75a.25.25 0 0 1 .25-.25h13.5a.25.25 0 0 1 .25.25v10a.75.75 0 0 0 1.5 0v-10A1.75 1.75 0 0 0 17.25 2H3.75A1.75 1.75 0 0 0 2 3.75v16.5c0 .966.784 1.75 1.75 1.75h7a.75.75 0 0 0 0-1.5h-7a.25.25 0 0 1-.25-.25V3.75Z"></path>
                        <path d="M6.25 7a.75.75 0 0 0 0 1.5h8.5a.75.75 0 0 0 0-1.5h-8.5Zm-.75 4.75a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1-.75-.75Zm16.28 4.53a.75.75 0 1 0-1.06-1.06l-4.97 4.97-1.97-1.97a.75.75 0 1 0-1.06 1.06l2.5 2.5a.75.75 0 0 0 1.06 0l5.5-5.5Z"></path>
                    </svg>
                </div>
            </div>

            <div id="divServicios" class="text-center mt-5">
                <h2 class="mb-5" style="margin-left:10px; color:#255000;">Servicios</h2>
                
                @for (int i = 0; i < ViewBag.servicios.Count; i++)
                {
                    <div class="row">
                        @for (int j = 0; j < 3 && i < ViewBag.servicios.Count; j++, i++){
                            <div class="col">
                                <button class="btn btn-light" onclick="mostrarEmpleados('@ViewBag.servicios[i].Id', '@ViewBag.servicios[i].Nombre')">@ViewBag.servicios[i].Nombre</button>
                            </div>
                        }
                    </div>
                }
                
            </div>

            <div id="divEmpleados" class="text-center mt-5" style="display: none;">
                <h2 class="mb-5" style="margin-left:10px; color:#255000;">Empleados que brindan el Servicio</h2>
                <div id="divEmpl"></div>
                
            </div>

            <div id="divFecha" class="text-center calendario-container mt-5" style="display: none;">
                <h2 class="mb-5" style="margin-left:10px; color:#255000;">Día</h2>
                <div id="calendario" class="calendario"></div>
            </div>
            
            <div id="divHora" class="text-center mt-5" style="display: none;">
                <h2 class="mb-5" style="margin-left:10px; color:#255000;">Hora</h2>
                <div id="divH"></div>
            </div>

            <div id="divDatos" class="mt-5" style="width:60%; align-items-center; display: none;">
                <h2 class="text-center mb-5" style="margin-left:10px; color:#255000;">Datos</h2>
                <div style="border: 4px solid black;">
                    <h3 class="mt-3 mb-3" style="margin-left:10px; color:#255000;">DATOS PERSONALES</h3>
                    <div class="row" style="margin-left:10px;">
                        <div class="col">
                            <label style="color:#255000;">
                                Usuario:
                            </label>
                            <label>
                                @ViewBag.usuario.persona.Nombre1
                                @ViewBag.usuario.persona.Nombre2
                                @ViewBag.usuario.persona.Apellido1
                                @ViewBag.usuario.persona.Apellido2
                            </label>
                        </div>
                    </div>

                    <div class="row" style="margin-left:10px;">
                        <div class="col">
                            <label style="color:#255000;">Tipo documento: </label>
                            <label>@ViewBag.usuario.persona.tipodoc</label>
                        </div>
                    </div>

                    <div class="row" style="margin-left:10px;">
                        <div class="col">
                            <label style="color:#255000;">N° de documento: </label>
                            <label>@ViewBag.usuario.persona.Id</label>
                        </div>
                    </div>

                    <div class="row" style="margin-left:10px;">
                        <div class="col">
                            <label style="color:#255000;">Correo: </label>
                            <label>@ViewBag.usuario.Correo</label>
                        </div>
                    </div>

                    <div class="row" style="margin-left:10px;">
                        <div class="col">
                            <label style="color:#255000;">Número de celular: </label>
                            <label>@ViewBag.usuario.persona.Telefono</label>
                        </div>
                    </div>

                    <h3 class="mt-3 mb-3" style="margin-left:10px; color:#255000;"">DATOS DE LA RESERVA</h3>
                    <div class="row" style="margin-left:10px;">
                        <div class="col">
                            <label style="color:#255000;">Servicio: </label>
                            <label id="labelServicio"></label>
                        </div>
                    </div>
                    
                    <div class="row" style="margin-left:10px;">
                        <div class="col">
                            <label style="color:#255000;">Encargado: </label>
                            <label id="labelEmpleado"></label>
                        </div>
                    </div>

                    <div class="row" style="margin-left:10px;">
                        <div class="col">
                            <label style="color:#255000;">Fecha: </label>
                            <label id="labelFecha"></label>
                        </div>
                    </div>

                    <div class="row" style="margin-left:10px;">
                        <div class="col">
                            <label style="color:#255000;">Hora: </label>
                            <label id="labelHora"></label>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div style="display: flex; justify-content: space-between;">
            <button id="botonVolver" class="btn btn-success" disabled>Volver</button>
            <button id="botonConfirmar" class="btn btn-success" disabled>Confirmar</button>
        </div>
    </div>

    <p id="idUsuario" hiden>@ViewBag.usuario.Id</p>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.3/dist/flatpickr.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        var servicio = "";
        var empleado = "";
        var fecha = "";
        var hora = "";
        var paso1 = document.getElementById('divServicios');
        var paso2 = document.getElementById('divEmpleados');
        var paso3 = document.getElementById('divFecha');
        var paso4 = document.getElementById('divHora');
        var paso5 = document.getElementById('divDatos');
        var icon1 = document.getElementById('iconServicio');
        var icon2 = document.getElementById('iconEmpleado');
        var icon3 = document.getElementById('iconFecha');
        var icon4 = document.getElementById('iconHora');
        var icon5 = document.getElementById('iconDatos');
        var btnVolver = document.getElementById('botonVolver');
        var btnConfirmar = document.getElementById('botonConfirmar');
        var labelServicio = document.getElementById('labelServicio');
        var labelEmpleado = document.getElementById('labelEmpleado');
        var labelFecha = document.getElementById('labelFecha');
        var labelHora = document.getElementById('labelHora');
        var divEmpl = document.getElementById('divEmpl')
        var divH = document.getElementById('divH');
        var idUsuario = document.getElementById('idUsuario').textContent;
        var paso = 0;
        var idEmpleado = 0;
        var idServicio = 0;
        var fechasHorasDisponibles;
        var fechasDisponibles;
        var horasDisponibles;

        function mostrarServicios() {
            servicio = "";
            idServicio = 0;
            btnVolver.disabled = true;
            paso = 1;
            divEmpl.innerHTML = '';

            paso1.style.display = 'block';
            paso2.style.display = 'none';
            paso3.style.display = 'none';
            paso4.style.display = 'none';
            paso5.style.display = 'none';
            
            icon1.style.background = 'rgb(23, 162, 184)';
            icon2.style.background = 'rgb(207, 207, 207)';
            icon3.style.background = 'rgb(207, 207, 207)';
            icon4.style.background = 'rgb(207, 207, 207)';
            icon5.style.background = 'rgb(207, 207, 207)';
        }

        function mostrarEmpleados(id, nombreServicio) {
            btnVolver.disabled = false;
            paso = 2;
            if (nombreServicio != "") {
                servicio = nombreServicio;
                idServicio = id;
                obtenerEmpleadosServicio(id);
            } else idServicio = 0;

            paso1.style.display = 'none';
            paso2.style.display = 'block';
            paso3.style.display = 'none';
            paso4.style.display = 'none';
            paso5.style.display = 'none';

            icon1.style.background = 'rgb(23, 162, 184)';
            icon2.style.background = 'rgb(23, 162, 184)';
            icon3.style.background = 'rgb(207, 207, 207)';
            icon4.style.background = 'rgb(207, 207, 207)';
            icon5.style.background = 'rgb(207, 207, 207)';
        }

        function mostrarFechas(id, nombreEmpleado){
            paso = 3;
            if (nombreEmpleado != "") {
                empleado = nombreEmpleado;
                idEmpleado = id;
                obtenerFechas(idEmpleado, idServicio);
            } else idEmpleado = 0;
            divH.innerHTML = '';
            
            paso1.style.display = 'none';
            paso2.style.display = 'none';
            paso3.style.display = 'block';
            paso4.style.display = 'none';
            paso5.style.display = 'none';

            icon1.style.background = 'rgb(23, 162, 184)';
            icon2.style.background = 'rgb(23, 162, 184)';
            icon3.style.background = 'rgb(23, 162, 184)';
            icon4.style.background = 'rgb(207, 207, 207)';
            icon5.style.background = 'rgb(207, 207, 207)';
        }

        function mostrarHoras(selectedDates, fechaReserva, instance){
            paso = 4;
            if (fechaReserva != "") {
                fecha = fechaReserva;
                crearHoras();
            }
            btnConfirmar.disabled = true;

            paso1.style.display = 'none';
            paso2.style.display = 'none';
            paso3.style.display = 'none';
            paso4.style.display = 'block';
            paso5.style.display = 'none';

            icon1.style.background = 'rgb(23, 162, 184)';
            icon2.style.background = 'rgb(23, 162, 184)';
            icon3.style.background = 'rgb(23, 162, 184)';
            icon4.style.background = 'rgb(23, 162, 184)';
            icon5.style.background = 'rgb(207, 207, 207)';

        }

        function mostrarDatos(horaReserva){
            paso = 5;
            btnConfirmar.disabled = false;
            hora = horaReserva;

            labelServicio.textContent = servicio;
            labelEmpleado.textContent = empleado;
            labelFecha.textContent = fecha;
            labelHora.textContent = horaReserva;

            paso1.style.display = 'none';
            paso2.style.display = 'none';
            paso3.style.display = 'none';
            paso4.style.display = 'none';
            paso5.style.display = 'block';

            icon1.style.background = 'rgb(23, 162, 184)';
            icon2.style.background = 'rgb(23, 162, 184)';
            icon3.style.background = 'rgb(23, 162, 184)';
            icon4.style.background = 'rgb(23, 162, 184)';
            icon5.style.background = 'rgb(23, 162, 184)';
        }

        function volver(){
            if (paso == 2){
                mostrarServicios();
            } else if (paso == 3) {
                mostrarEmpleados(0, "");
            } else if (paso == 4) {
                mostrarFechas(0, "");
            } else {
                mostrarHoras("");
            }
        }

        function habilitarCalendario(fechasDisponibles){
            flatpickr("#calendario", {
                inline: true,
                dateFormat: "d/m/Y",
                minDate: "today",
                onChange: mostrarHoras,
                theme: "material_green",
                disable: [
                    {
                        from: "01/01/1999",
                        to: "01/01/2999",
                    },
                ],
                enable: fechasDisponibles,
            });
        }

        function crearHoras() {
            
            for (let i = 0; i < fechasDisponibles.length; i++) {
                while (i < fechasDisponibles.length && fechasDisponibles[i] == fecha) {
                    
                    const divRow = document.createElement('div');
                    divRow.classList.add('row');
                    for (let j = 0; j < 3 && i < fechasDisponibles.length; j++, i++) {
                        const divCol = document.createElement('div');
                        divCol.classList.add('col');
                        const nuevoBoton = document.createElement('button');
                        nuevoBoton.classList.add('btn', 'btn-light');
                        nuevoBoton.textContent = horasDisponibles[i];
                        nuevoBoton.onclick = (function (index) {
                            return function () {
                                mostrarDatos(horasDisponibles[index]);
                            };
                        })(i);
                        divCol.appendChild(nuevoBoton);
                        divRow.appendChild(divCol);
                    }
                    divH.appendChild(divRow);
                }
            }
        }

        function llenarEmpleados(empleadosServicio) {
            for (let i = 0; i < empleadosServicio.length; i++) {
                const divRow = document.createElement('div');
                divRow.classList.add('row');

                for (let j = 0; j < 3 && i < empleadosServicio.length; j++, i++) {
                    var s = (empleadosServicio[i].persona.nombre1 + " " +
                    empleadosServicio[i].persona.apellido1 + " " +
                    empleadosServicio[i].persona.apellido2 + " ");
                    var pos = empleadosServicio[i].id;
                    
                    const divCol = document.createElement('div');
                    divCol.classList.add('col');
                    const nuevoBoton = document.createElement('button');
                    nuevoBoton.classList.add('btn', 'btn-light');
                    nuevoBoton.textContent = (s);
                    nuevoBoton.onclick = (function (index, nombre) {
                        return function () {
                            mostrarFechas(index, nombre);
                        };
                    })(pos, s);
                    divCol.appendChild(nuevoBoton);
                    divRow.appendChild(divCol);
                }
                divEmpl.appendChild(divRow);
            }
        }

        function reservar(){
            var idUsua = parseInt(idUsuario);
            var f = fecha.substring(6, 10) + "-" + fecha.substring(3, 5) + "-" + fecha.substring(0, 2);
            
            crearReserva(idUsua, idEmpleado, f, hora);
        }

        btnVolver.addEventListener('click', volver);
        btnConfirmar.addEventListener('click', reservar);

        function crearReserva(id_usuario, id_empleado, fechaReserva, horaReserva) {
            $.ajax({
                url: "@Url.Action("crearReserva", "Reservas")",
                type: "POST",
                traditional: true,
                data: { id_usuario: id_usuario, id_empleado: id_empleado, fechaReserva: fechaReserva, horaReserva: horaReserva },
                success: function (result) {
                    window.location.href = "@Url.Action("Inicio", "Home")";
                },
                error: function (xhr, status, error) {
                    console.log("error");
                    console.error(error);
                }
            });
        }

        function obtenerFechas(id_empleado, id_servicio) {
            $.ajax({
                url: "@Url.Action("obtenerFechas", "Reservas")",
                type: "POST",
                traditional: true,
                data: { id_empleado: id_empleado, id_servicio: id_servicio },
                success: function (result) {
                    fechasHorasDisponibles = result;

                    fechasDisponibles = fechasHorasDisponibles.map(function (fechaHora) {
                        return fechaHora[0];
                    });

                    horasDisponibles = fechasHorasDisponibles.map(function (fechaHora) {
                        return fechaHora[1];
                    });

                    for (let i = 0; i < fechasDisponibles)

                    habilitarCalendario(fechasDisponibles);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        function obtenerEmpleadosServicio(id_servicio) {
            $.ajax({
                url: "@Url.Action("obtenerEmpleadosServicio", "Reservas")",
                type: "POST",
                traditional: true,
                data: { id_servicio: id_servicio },
                success: function (result) {
                    llenarEmpleados(result);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
    </script>

</body>
</html>

