@model UsuarioModel;
@{
    ViewData["Title"] = "MiAgenda";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        .lista {
            padding: 0;
        }

        .gestion {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body style="background-color: rgb(207, 207, 207); ">
    <div class="container" style="margin-top: 25px;padding: 5px; margin-left: 300px; width: 80%">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="ml-3 mb-5" style="color:#255000;">Gestionar Mi Agenda</h1>
            </div>
        </div>

        <div class="table-responsive mt-5">
            <div style="width:100%;">
                <table id="tablax" class="table-bordered align-middle border-success mt-3">
                    <thead>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Hora</th>
                    <th class="text-center">Estado</th>
                    <th class="text-center">Reserva</th>
                    <th class="text-center">Espacio</th>
                    </thead>
                    <tbody id="bodyt" class="text-center">
                        @foreach(AgendaModel us in ViewBag.agenda)
                        {
                            <tr>
                                <td>@us.Fecha.Substring(6, 4)-@us.Fecha.Substring(3, 2)-@us.Fecha.Substring(0,2)</td>
                                <td>@us.Hora</td>
                                <td>@us.Estado</td>
                                <td>@us.NombreUsua</td>
                                <td>@us.NombreEspa</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>


        <div class="d-flex justify-content-between align-items-center  mt-3">
            @if (User.IsInRole("generar reportes"))
            {
                <button class="btn btn-primary btn-generar-pdf " id="boton" data-bs-toggle="modal" data-bs-target="#tiporeporte">Generar Reporte</button>
            }

            <button class="btn btn-primary " id="programar" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#programarAgenda">
                Programar Agenda
            </button>
            

        </div>
    </div>

    <div class="modal fade" id="tiporeporte" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="tiporeportelabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content bg">
                <div class="modal-header">
                    <h5 class="modal-title fs-5 text-center" id="staticBackdropLabel">
                        Tipo Reporte
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="pdf" onclick="descpdf()">PDF</button>
                    <button type="button" class="btn btn-success" id="excel" onclick="descexcel()">EXCEL</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" id="programarAgenda" aria-labelledby="programarAgendaModal">
        <div class="modal-dialog modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="programarAgenda">Programar Agenda</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="@Url.Action("agregarParametros","Agenda")" method="post">
                        <input class="form-control" type="text" name="cedula" id="cedula" hidden value="@ViewBag.usua1.persona.Id">
                        <div>
                            <div class="row mt-3">
                                <div class="col">
                                    <label class="form-label">Fecha Inicio</label>
                                    <input class="form-control" type="date" required name="fechaInicio">
                                </div>

                                <div class="col">
                                    <label class="form-label">Fecha Fin</label>
                                    <input class="form-control" type="date" required name="fechaFin">
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col">
                                    <label class="form-label">Hora Inicio</label>
                                    <input class="form-control" type="time" required name="horaInicio">
                                </div>

                                <div class="col">
                                    <label class="form-label">Hora Fin</label>
                                    <input class="form-control" type="time" required name="horaFin">
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col">
                                    <label class="form-label">Duracion</label>
                                    <input class="form-control" type="number" required name="duracion">
                                </div>

                                <div class="col">
                                    <label class="form-label">Trabajar festivos</label>
                                    <select class="form-select form-select-sm" aria-label="festivo">
                                        <option selected>Si</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col text-center">
                                <label class="form-label">L</label>
                                <input class="form-check-input" type="checkbox" value="L" id="L" name="L">
                            </div>
                            <div class="col text-center">
                                <label class="form-label">M</label>
                                <input class="form-check-input" type="checkbox" value="M" id="M" name="M">
                            </div>
                            <div class="col text-center">
                                <label class="form-label">X</label>
                                <input class="form-check-input" type="checkbox" value="X" id="X" name="X">
                            </div>
                            <div class="col text-center">
                                <label class="form-label">J</label>
                                <input class="form-check-input" type="checkbox" value="J" id="J" name="J">
                            </div>
                            <div class="col text-center">
                                <label class="form-label">V</label>
                                <input class="form-check-input" type="checkbox" value="V" id="V" name="V">
                            </div>
                            <div class="col text-center">
                                <label class="form-label">S</label>
                                <input class="form-check-input" type="checkbox" value="S" id="S" name="S">
                            </div>
                            <div class="col text-center">
                                <label class="form-label">D</label>
                                <input class="form-check-input" type="checkbox" value="D" id="D" name="D">
                            </div>
                        </div>

                        <div class="mt-3">
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
    </script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $('#tablax').DataTable({
                language: {
                    processing: "Tratamiento en curso...",
                    search: "Buscar&nbsp;:",
                    lengthMenu: "Agrupar de _MENU_",
                    info: "_TOTAL_ Turnos en la agenda",
                    infoEmpty: "No existen datos.",
                    infoFiltered: "(filtrado de _MAX_ elementos en total)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron datos con tu busqueda",
                    emptyTable: "No hay datos disponibles en la tabla.",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    aria: {
                        sortAscending: ": active para ordenar la columna en orden ascendente",
                        sortDescending: ": active para ordenar la columna en orden descendente"
                    }
                },
                scrollY: 300,
                lengthMenu: [[5, 10, -1], [5, 10, "All"]],
            });
        });

    </script>
    <script>
        function descpdf() {
            window.location.href = "@Url.Action("DescargarPDF", "Agenda")";
        }

        function descexcel() {
            window.location.href = "@Url.Action("DescargarEXCEL", "Agenda")";
        }
    </script>

</body>


</html>

