@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Identity;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .lista {
            padding: 0;
        }

        .gestion {
            margin: 0;
            padding: 0;
        }
    </style>

</head>

<body style="background-color: rgb(207, 207, 207);">
    <div class="container" style="margin-top: 25px;padding: 5px ;margin-left:300px; width:80%;">
        <h1 class="ml-3 mb-3" style="color:#255000;">Gestionar Usuario</h1>
        <div class="table-responsive">
            <div style="width:1600px;">
                <table id="tablax" class="table-bordered align-middle border-success mt-3">
                    <thead>
                        <th style=" width:150px;" class="text-center">Id</th>
                        <th class="text-center" style="width:200px;">Tipo documento</th>
                        <th class="text-center" style="width:130px;">Nombre 1</th>
                        <th class="text-center" style="width:130px;">Nombre 2</th>
                        <th class="text-center" style="width:130px;">Apellido 1</th>
                        <th class="text-center" style="width:130px;">Apellido 2</th>
                        <th class="text-center" style="width:200px;">Nombre de usuario</th>
                        <th class="text-center" style="width:200px;">Correo</th>
                        <th class="text-center" style="width:150px;">Fecha Nacimiento</th>
                        <th class="text-center" style="width:130px;">Genero</th>
                        <th class="text-center" style="width:200px;">Telefonos</th>
                        <th class="text-center" style="width:100px;">Rol</th>
                        <th class="text-center" style="width:100px;">Estado</th>
                        <th class="text-center" style="width:100px;">Editar</th>
                    </thead>
                    <tbody>
                        @foreach (UsuarioModel usua in ViewBag.usuarios)
                        {
                            <tr>
                                <td class="text-center">@usua.persona.Id</td>
                                <td class="text-center">@usua.persona.tipodoc</td>
                                <td class="text-center">@usua.persona.Nombre1</td>
                                <td class="text-center">@usua.persona.Nombre2 </td>
                                <td class="text-center">@usua.persona.Apellido1</td>
                                <td class="text-center">@usua.persona.Apellido2</td>
                                <td class="text-center">@usua.Nombre</td>
                                <td class="text-center">@usua.Correo</td>
                                <td class="text-center">@(@usua.persona.FechaNacimiento.Substring(0,10))</td>
                                <td class="text-center">@usua.persona.genero</td>
                                <td class="text-center">@usua.persona.Telefono</td>
                                <td class="text-center">@usua.rol.Nombre</td>
                                <td class="text-center">@((@usua.Estado)?"Activo":"Inactivo")</td>
                                <td class="text-center">
                                    <button type="button" id="" class="btn btn-primary mt-3 mb-3" data-bs-toggle="modal" data-bs-target="#editarUsuario" value="">
                                        Editar
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
        <div class="d-flex justify-content-between align-items-center  mt-3">
            @if (User.IsInRole("generar reportes"))
            {
                <button class="btn btn-primary btn-generar-pdf " id="boton" data-bs-toggle="modal" data-bs-target="#tiporeporte">Generar Reporte</button>
            }
            <button type="button" id="" class="btn btn-success mt-3 mb-3" data-bs-toggle="modal" data-bs-target="#crearUsuario" value="">
                Agregar Nuevo Usuario
            </button>

        </div>
    </div>

    <div class="modal fade" id="editarUsuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editarUsuarioLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg modal-dialog-scrollable">
            <div class="modal-content bg">
                <div class="modal-header">
                    <h5 class="modal-title fs-5 text-center" id="staticBackdropLabel">
                        Editar datos usuarios
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="edit" action="@Url.Action("editar_usuario","Usuario")" method="post">
                            <div class="row">
                                <div class="col">
                                    <label for="" class="form-label ">Tipo Documento</label>
                                    <select class="form-select" aria-label="Default select example" id="tipodoc" name="tipodoc" required>
                                        @foreach (String t in @ViewBag.lt)
                                        {
                                            <option>@t</option>
                                        }
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Numero de Identificación</label>
                                    <input type="number" class="form-control" id="cedula" min="0" name="cedula" required>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col">
                                    <label for="" class="form-label">Nombre 1</label>
                                    <input type="text" class="form-control" id="nombre1" name="nombre1" required>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Nombre 2</label>
                                    <input type="text" class="form-control" id="nombre2" name="nombre2" >
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col">
                                    <label for="" class="form-label">Apellido 1</label>
                                    <input type="text" class="form-control" id="apellido1" name="apellido1" required>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Apellido 2</label>
                                    <input type="text" class="form-control" id="apellido2" name="apellido2" >
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col">
                                    <label for="" class="form-label">Fecha Nacimiento</label>
                                    <input type="date" class="form-control" id="fechanaci" name="fechanaci"  required>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Estado</label>
                                    <select class="form-select" aria-label="Default select example" id="estado" name="estado" required>
                                        <option>Activo</option>
                                        <option>Inactivo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col">
                                    <label for="" class="form-label">Genero</label>
                                    <select class="form-select" aria-label="Default select example" name="genero" id="genero" required>
                                        @foreach (String t in @ViewBag.lg)
                                        {
                                            <option>@t</option>
                                        }
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Rol</label>
                                    <select class="form-select" aria-label="Default select example" name="rol" id="rol" required onchange="emp()">
                                        @foreach (RolModel r in @ViewBag.r)
                                        {
                                            <option>@r.Nombre</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col">
                                    <label for="" class="form-label">Correo</label>
                                    <input type="email" class="form-control" id="correo" name="correo" required>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Nombre de usuario</label>
                                    <input type="text" class="form-control" id="nombreusuario" name="nombreusuario" required>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col">
                                    <label for="" class="form-label">Telefono</label>
                                    <input type="text" class="form-control" id="telefono" name="telefono" required>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Segundo telefono</label>
                                    <input type="text" class="form-control" id="telefono1" name="telefono1" >
                                </div>
                            </div>
                            <div class="row mt-5 mb-5" hidden id="serv">
                                <label>Servicio designado</label>
                                <select class="form-select" aria-label="Default select example" name="servicio" id="servicio">
                                    <option>Sin servicio</option>
                                    @foreach (ServicioModel servi in @ViewBag.ser)
                                    {
                                        <option>@servi.Nombre</option>
                                    }
                                </select>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="edit" class="btn btn-success">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="crearUsuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="crearUsuarioLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg modal-dialog-scrollable">
            <div class="modal-content bg">
                <div class="modal-header">
                    <h5 class="modal-title fs-5 text-center" id="staticBackdropLabel">
                        Crear usuario
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="crear" action="@Url.Action("crear_usuario","Usuario")" method="post" clss="needs-validation" >
                            <div class="row">
                                <div class="col">
                                    <label for="" class="form-label ">Tipo Documento</label>
                                    <select class="form-select" aria-label="Default select example" id="tipodoc" name="tipodoc" required>
                                        @foreach (String t in @ViewBag.lt)
                                        {
                                            <option>@t</option>
                                        }
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Numero de Identificación</label>
                                    <input type="number" class="form-control" id="cedula" min="0" name="cedula" required>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col">
                                    <label for="" class="form-label">Nombre 1</label>
                                    <input type="text" class="form-control" id="nombre1" name="nombre1" required>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Nombre 2</label>
                                    <input type="text" class="form-control" id="nombre2" name="nombre2" >
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col">
                                    <label for="" class="form-label">Apellido 1</label>
                                    <input type="text" class="form-control" id="apellido1" name="apellido1" required>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Apellido 2</label>
                                    <input type="text" class="form-control" id="apellido2" name="apellido2" >
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col">
                                    <label for="" class="form-label">Fecha Nacimiento</label>
                                    <input type="date" class="form-control" id="fechanaci" name="fechanaci" required>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Genero</label>
                                    <select class="form-select" aria-label="Default select example" name="genero" id="genero" required>
                                        @foreach (String t in @ViewBag.lg)
                                        {
                                            <option>@t</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col">
                                    <label for="" class="form-label">Correo</label>
                                    <input type="email" class="form-control" id="correo" name="correo" required>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Nombre de usuario</label>
                                    <input type="text" class="form-control" id="nombreusuario" name="nombreusuario" required>
                                </div>
                            </div>
                            
                            <div class ="row mt-5">
                                <div class="col">
                                    <label for="" class="form-label">Telefono</label>
                                    <input type="text" class="form-control" id="telefono" name="telefono" required>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Segundo telefono</label>
                                    <input type="text" class="form-control" id="telefono1" name="telefono1" >
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="crear" class="btn btn-success">Confirmar</button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="tiporeporte" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="tiporeportelabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg modal-dialog-scrollable">
            <div class="modal-content bg">
                <div class="modal-header">
                    <h5 class="modal-title fs-5 text-center" id="staticBackdropLabel">
                        Parametros del reporte
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Confirmar</button>

                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
    </script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <script>

        const input1 = document.getElementById("tipodoc");
        const input2 = document.getElementById("cedula");
        const input3 = document.getElementById("nombre1");
        const input4 = document.getElementById("nombre2");
        const input5 = document.getElementById("apellido1");
        const input6 = document.getElementById("apellido2");
        const input7 = document.getElementById("fechanaci");
        const input8 = document.getElementById("estado");
        const input9 = document.getElementById("genero");
        const input10 = document.getElementById("rol");
        const input11 = document.getElementById("nombreusuario");
        const input12 = document.getElementById("correo");
        const input13 = document.getElementById("telefono");
        const input14 = document.getElementById("telefono1");
        const input15 = document.getElementById("serv");

        window.addEventListener("click", (e) => {
            let data = e.target.parentElement.parentElement.children;
            if (e.target.matches(".btn-primary")) {

                seleccionar(input1, data[1].textContent);
                input2.value = data[0].textContent;
                input3.value = data[2].textContent;
                input4.value = data[3].textContent;
                input5.value = data[4].textContent;
                input6.value = data[5].textContent;
                
                const dia = data[8].textContent.slice(0, 2);

                const mes = data[8].textContent.slice(3, 5);

                const año = data[8].textContent.slice(6, 10);

                const nuevaFecha = `${año}-${mes}-${dia}`;

                const fechaObjeto = new Date(nuevaFecha);

                const fechaISO = fechaObjeto.toISOString();

                input7.value = fechaISO.slice(0, 10);
                seleccionar(input8, data[12].textContent);
                seleccionar(input9, data[9].textContent);
                seleccionar(input10, data[11].textContent);
                if (input10.value == "Empleado") {
                    input15.removeAttribute("hidden");

                }else{
                    input15.setAttribute("hidden", "true");
                }
                seleccionar
                input11.value = data[6].textContent;
                input12.value = data[7].textContent;
                let aux = data[10].textContent.split("-");
                input13.value = aux[0];
                if (aux.length==2) {
                    input14.value = aux[1];
                }

            }

        });

        function seleccionar(input,data){
            let opc = input.options;
            for (let i = 0; i < opc.length; i++) {
                if (opc[i].textContent == data) {
                    opc[i].selected = true;
                }
            }
        };



    </script>

    <script>

        $(document).ready(function () {
            $('#tablax').DataTable({
                language: {
                    processing: "Tratamiento en curso...",
                    search: "Buscar&nbsp;:",
                    lengthMenu: "Agrupar de _MENU_",
                    info: "total de usuarios: _TOTAL_",
                    infoEmpty: "No existen datos.",
                    infoFiltered: "(filtrado de _MAX_ elementos en total)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron datos con tu busqueda",
                    emptyTable: "No hay datos disponibles en la tabla.",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    aria: {
                        sortAscending: ": active para ordenar la columna en orden ascendente",
                        sortDescending: ": active para ordenar la columna en orden descendente"
                    }
                },
                scrollY: 300,
                lengthMenu: [[5, 10, -1], [5, 10, "All"]],
            });
        });

    </script>
</body>
</html>