    @using Microsoft.AspNetCore.Identity;
@{
    // Accede a la identidad del usuario
    var claimsPrincipal =User;

    // Accede al correo electrónico del usuario
    //var correo = claimsPrincipal.Claims.FirstOrDefault(c => c.Type == "Correo").Value;
    var vista = ViewContext.RouteData.Values["action"].ToString();
    var rol = claimsPrincipal.Claims.FirstOrDefault(c => c.Type == "Rol").Value;
    List<String> aux = new List<string>();
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Img/uniamazonia.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/layout.css">
    <title>Inicio</title>
</head>

<body>
    <header class="perfil">
        <nav class="perfil-nav">
            <ul class="gestion">
                @if (vista == "Index")
                {
                    if (User.IsInRole("gestionar roles"))
                    {
                        <li>
                            <a href="@Url.Action("Index","Rol")">Roles</a>
                        </li>
                        //aux.Add("Rol");
                    }
                    if (User.IsInRole("gestionar servicios"))
                    {
                        <li>
                            <a href="@Url.Action("Index","Servicios")">Servicios</a>
                        </li>
                        //aux.Add("Servicios");

                    }
                    if (User.IsInRole("gestionar reservas"))
                    {
                        <li>
                            <a href="@Url.Action("Index","Reservas")">Reservas</a>
                        </li>
                        //aux.Add("Reservas");
                    }
                    if (User.IsInRole("gestionar espacios"))
                    {
                        <li>
                            <a href="@Url.Action("Index","Espacio")">Espacio</a>
                        </li>
                        //aux.Add("Espacio");
                    }
                    if (User.IsInRole("gestionar ubicacion"))
                    {
                        <li>
                            <a href="@Url.Action("Index","Ubicacion")">Ubicacion</a>
                        </li>
                        //aux.Add("Ubicacion");
                    }
                    if (User.IsInRole("gestionar negocio"))
                    {
                        <li>
                            <a href="@Url.Action("Index","Negocio")">Negocio</a>
                        </li>
                       // aux.Add("Negocio");
                    }
                    if (User.IsInRole("gestionar agenda"))
                    {
                        <li>
                            <a href="@Url.Action("Index","Agenda")">Agenda</a>
                        </li>
                       // aux.Add("Agenda");
                    }
                    if (User.IsInRole("gestionar usuarios"))
                    {
                        <li>
                            <a href="@Url.Action("Index","Usuario")">Usuarios</a>
                        </li>
                       // aux.Add("Usuario");
                    }
                   
                }
            </ul>
            <ul class="perfil-ul">
                <li class="perfil-li">
                    <i class='bx bxs-user'></i>
                    <span>@User.Identity.Name</span>
                    <i class='bx bx-chevron-down arrow'></i>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("salir","Acceso")" id="a">Cerrar sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="contenedor">
        <nav class="menu">
            <header>
                <i class='bx bxs-chevron-right'></i>
            </header>
            <ul class="lista">
                <li>
                    <a href="@Url.Action("Inicio","Home")">
                        <i class='bx bxs-home'></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-user'></i>
                        <span>Mi perfil</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-bell'></i>
                        <span>Notificacion</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-calendar'></i>
                        <span>Realizar reserva</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-calendar'></i>
                        <span>Mis reservas</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-help-circle'></i>
                        <span>Centro de ayuda</span>
                    </a>
                </li>
                @if (rol == "Admin" || rol == "Empleado")
                {
                    <li>
                        <a href="@Url.Action("Index","Rol")">
                            <i class='bx bx-book'></i>
                            <span>Gestionar</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
    <div class="cuerpo">
        @RenderBody()
    </div>
</body>

</html>