@using Microsoft.AspNetCore.Identity;
@using Newtonsoft.Json;
@{
    NegocioModel a = JsonConvert.DeserializeObject<NegocioModel>(System.IO.File.ReadAllText("Data/Negocio.json"));
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Img/uniamazonia.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/layout.css">
    <title>Inicio</title>
</head>

<body>
    <header class="perfil">
        <nav class="perfil-nav">
            <ul class="gestion">
                @RenderSection("AdditionalMenu", required: false)
            </ul>
            <ul class="perfil-ul">
                <li class="perfil-li">
                    <i class='bx bxs-user'></i>
                    <span>@User.Identity.Name</span>
                    <i class='bx bx-chevron-down arrow'></i>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("salir","Acceso")" id="a">Cerrar sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="contenedor">
        <nav class="menu">
            <header>
                <h2>@a.Nombre</h2>
            </header>
            <ul class="lista">

                <li>
                    <a href="@Url.Action("Inicio","Home")">
                        <i class='bx bxs-home'></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Perfil")">
                        <i class='bx bxs-user'></i>
                        <span>Mi perfil</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-bell'></i>
                        <span>Notificacion</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("crearReservaServicio","Reservas")">
                        <i class='bx bx-calendar'></i>
                        <span>Realizar reserva</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-calendar'></i>
                        <span>Mis reservas</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("CentroDeAyuda","Home")">
                        <i class='bx bxs-help-circle'></i>
                        <span>Centro de ayuda</span>
                    </a>
                </li>
                @{
                    string primeraVista = "";

                    if (User.IsInRole("gestionar roles"))
                    {
                        primeraVista = "Rol";
                    }
                    else if (User.IsInRole("gestionar servicios"))
                    {
                        primeraVista = "Servicios";
                    }
                    else if (User.IsInRole("gestionar reservas"))
                    {
                        primeraVista = "Reservas";
                    }
                    else if (User.IsInRole("gestionar espacios"))
                    {
                        primeraVista = "Espacio";
                    }
                    else if (User.IsInRole("gestionar ubicacion"))
                    {
                        primeraVista = "Ubicacion";
                    }
                    else if (User.IsInRole("gestionar negocio"))
                    {
                        primeraVista = "Negocio";
                    }
                    else if (User.IsInRole("gestionar agendas"))
                    {
                        primeraVista = "Agenda";
                    }
                    else if (User.IsInRole("gestionar usuarios"))
                    {
                        primeraVista = "Usuario";
                    }

                    if (!string.IsNullOrEmpty(primeraVista))
                    {
                        <li>
                            <a href="@Url.Action("Index", primeraVista)">
                                <i class='bx bx-book'></i>
                                <span>Gestionar</span>
                            </a>
                        </li>
                    }
                    if(User.IsInRole("gestionar mi agenda"))
                    {
                        <li>
                            <a href="@Url.Action("MiAgenda","Agenda")">
                                <i class='bx bx-book'></i>
                                <span>Mi Agenda</span>
                            </a>
                        </li>
                    }
                }
                
            </ul>
        </nav>
    </div>
    <div class="cuerpo">
        @RenderBody()
    </div>
</body>

</html>